<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- 
  mapper namespace란?
  mapper 파일이 여러개일 때, 해당하는 파일을 식별할 수 있는 식별자
  이름을 정해줄 때, 해당 mapper파일과 연결이 되는 DAO 클래스 이름을
  일치시켜주는것을 원칙으로 함
  	    -->
<mapper namespace="com.smhrd3.postmodel.PostDAO">

<!-- 게시물 업로드 -->
<insert id="upload" parameterType="com.smhrd3.postmodel.PostDTO">
INSERT INTO POSTS(POST_SEQ,POST_CONTENT,POST_FILE,POST_DATE,POST_VIEWS,POST_LIKES,MB_ID)
VALUES(POSTS_SEQ.NEXTVAL,#{post_Content},#{post_File},SYSDATE,NULL,NULL,(SELECT MB_ID FROM MEMBERS WHERE MB_EMAIL = #{mb_Email}))
</insert>
<select id="selectallpost" resultType="com.smhrd3.postmodel.PostDTO">
SELECT POST_CONTENT, POST_FILE FROM POSTS ORDER BY POST_SEQ DESC
</select>

</mapper>

